<template>
  <div class="home">
    <Almacen />
  </div>
</template>

<script>
// @ is an alias to /src
import Almacen from "@/components/Almacen";

export default {
  name: "Home",
  components: {
    Almacen,
  },
};
</script>
