<template>
  <section>
    <!--Cuadro Dialogo Agregar Producto-->
    <v-btn
    class="ml-10 mt-5"
      color="primary"
      @click="dialog=true;dialogoEditar=false;tituloDialogo='Agregar Producto';"
    >Agregar Producto</v-btn>
    <v-dialog persistent v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title class="headline">{{tituloDialogo}}</v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label="Nombre" v-model="producto.nombre"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Descripción" v-model="producto.descripcion"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Precio" type="number" v-model="producto.precio"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Stock" type="number" v-model="producto.stock"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="error"
            @click="dialog=false;limpiarProducto();indexProductoEnEdicion=-1"
          >Cancelar</v-btn>
          <v-btn
            class="primary"
            @click="
            dialog=false;
            (dialogoEditar)? actualizarProducto({index:indexProductoEnEdicion,nombre:producto.nombre,descripcion:producto.descripcion,precio:producto.precio,stock:parseInt(producto.stock)})
            :agregarProducto(producto.nombre, producto.descripcion, producto.precio,producto.stock);
            limpiarProducto();indexProductoEnEdicion=-1"
          >Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--Dialogo confirmacion-->
    <v-dialog persistent v-model="dialogoConfirmacion" max-width="600px">
      <v-card>
        <v-card-title class="headline">¿Seguro que desea eliminarlo?</v-card-title>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="error" @click="dialogoConfirmacion=false;indexProductoAEliminar=-1">Cancelar</v-btn>
          <v-btn
            class="primary"
            @click="dialogoConfirmacion=false;eliminarProductoDelAlmacen(indexProductoAEliminar);indexProductoAEliminar=-1"
          >Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--Vista de productos-->
    <v-layout wrap ma-6 justify-start>
      <v-flex v-for="(productoEnAlmacen,index) in almacen" :key="index" sm3 xs12 px-2 mb-5>
        <v-card class="mx-auto">
          <v-card-title>{{productoEnAlmacen.nombre}}</v-card-title>
          <v-card-text>{{productoEnAlmacen.descripcion}}</v-card-text>
          <v-card-text>$ {{productoEnAlmacen.precio}}</v-card-text>
          <v-card-text>Stock: {{productoEnAlmacen.stock}}</v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              @click="dialog=true;
              dialogoEditar=true;
              tituloDialogo='Editar Producto';getProducto(index);indexProductoEnEdicion=index"
            >Editar</v-btn>
            <v-btn
              class="error"
              @click="dialogoConfirmacion=true;indexProductoAEliminar=index"
            >Eliminar</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  data: () => ({
    dialog: false,
    dialogoConfirmacion: false,
    dialogoEditar: false,
    indexProductoEnEdicion: -1,
    indexProductoAEliminar: -1,
    tituloDialogo: "",
    producto: {
      nombre: "",
      descripcion: "",
      precio: "",
      stock: ""
    }
  }),
  computed: {
    ...mapState(["almacen"]),
  },
  methods: {
    ...mapMutations(["agregarProductoAlAlmacen"]),
    ...mapMutations(["eliminarProductoDelAlmacen"]),
    ...mapMutations(["actualizarProducto"]),

    agregarProducto(nombre, descripcion, precio, stock) {
      this.agregarProductoAlAlmacen({
        nombre: nombre,
        descripcion: descripcion,
        precio: precio,
        stock: stock,
      });
    },
    limpiarProducto() {
      this.producto.nombre = "";
      this.producto.descripcion = "";
      this.producto.precio = "";
      this.producto.stock = "";
    },
    getProducto(index) {
      let productoTemp = this.almacen[index];
      this.producto.nombre = productoTemp.nombre;
      this.producto.descripcion = productoTemp.descripcion;
      this.producto.precio = productoTemp.precio;
      this.producto.stock = productoTemp.stock;
    },
  },
};
</script>
