<template>
  <section>
    <v-btn class="ml-10 mt-5" color="primary" @click="vaciarCarroDeCompras">Vaciar Carro</v-btn>

    <v-btn class="ml-5 mt-5" color="success" @click="realizarCompra();vaciarCarroDeCompras()">Realizar Compra</v-btn>
    <v-layout wrap ma-6 justify-start>
      <v-flex v-for="(productoEnCarro,index) in carroDeCompras" :key="index" sm3 xs12 px-2 mb-5>
        <v-card class="mx-auto">
          <v-card-title>{{almacen[productoEnCarro.index].nombre}}</v-card-title>
          <v-card-text>Cantidad: {{productoEnCarro.cantidad}}</v-card-text>
          <v-card-text>Total: {{productoEnCarro.cantidad*almacen[productoEnCarro.index].precio}}</v-card-text>
          <v-card-actions>
            <v-btn class="error" @click="removerProductoDelCarroDeCompras(index)">Remover</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  data: () => ({}),
  computed: {
    ...mapState(["carroDeCompras", "almacen"]),
  },
  methods: {
    ...mapMutations([
      "vaciarCarroDeCompras",
      "removerProductoDelCarroDeCompras",
      "realizarCompra"
    ]),
  },
};
</script>

<style>
</style>