<template>
  <section>
    <div class="ml-10 mt-5" :class="`text-h5`">Total Ventas: {{totalVentas}}</div>

    <v-layout wrap ma-6 justify-start>
      <v-flex v-for="(compra,index) in historialDeCompras" :key="index" sm3 xs12 px-2 mb-5>
        <v-card class="mx-auto">
          <v-card-title>Venta {{index + 1}}</v-card-title>
          <v-card-actions>
            <v-btn class="primary" @click="dialog=true;venta=compra">Ver</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>

    <!--Dialogo con detalles una compra determinada-->
    <v-dialog persistent v-model="dialog" max-width="500px">
      <v-card>
        <div
          v-for="(productoVendido,index) in venta"
          :key="index"
          class="d-flex flex-no-wrap justify-space-between"
        >
          <div>
            <v-card-title class="headline">{{productoVendido.producto.nombre}}</v-card-title>
            <v-card-subtitle>
              Cantidad: {{productoVendido.cantidad}}
              <br />
              Precio: {{productoVendido.producto.precio}}
            </v-card-subtitle>
          </div>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="primary" @click="dialog=false;venta={}">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import { mapGetters, mapState } from "vuex";
export default {
  data: () => ({
    dialog: false,
    venta: {},
  }),
  computed: {
    ...mapState(["historialDeCompras"]),
    ...mapGetters(["totalVentas"]),
  },
};
</script>

<style>
</style>