<template>
  <section>
    <!--Vista de Productos-->
    <v-layout wrap ma-6 justify-start>
      <v-flex v-for="(productoEnAlmacen,index) in almacen" :key="index" sm3 xs12 px-2 mb-5>
        <v-card class="mx-auto">
          <v-card-title>{{productoEnAlmacen.nombre}}</v-card-title>
          <v-card-text>{{productoEnAlmacen.descripcion}}</v-card-text>
          <v-card-text>$ {{productoEnAlmacen.precio}}</v-card-text>
          <v-card-text>Stock: {{productoEnAlmacen.stock}}</v-card-text>
          <v-card-actions>
            <v-btn class="primary" @click="dialogoConfirmacion=true;indexDeProducto=index">Agregar</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>

    <!--Dialogo de confirmación de compra-->
    <v-dialog persistent v-model="dialogoConfirmacion" max-width="500px">
      <v-row dense>
        <v-card v-if="indexDeProducto!=-1">
          <div class="d-flex flex-no-wrap justify-space-between">

            <div>
              <v-card-title class="headline">{{almacen[indexDeProducto].nombre}}</v-card-title>
              <v-card-subtitle>
                <v-text-field label="Cantidad" type="number" :rules="rules" v-model="cantidadAComprar" hide-details="auto"></v-text-field>
              </v-card-subtitle>
              <v-card-subtitle>Total: $ {{cantidadAComprar*almacen[indexDeProducto].precio}}</v-card-subtitle>
              <v-card-subtitle style="color:red;" v-if="cantidadAComprar>almacen[indexDeProducto].stock" >La cantidad ingresada supera el límite en stock</v-card-subtitle>
            </div>

            <v-avatar class="ma-3" size="125" tile>
              <v-img
                src="https://as.com/meristation/imagenes/2019/11/06/avances/1573000671_145999_1573143004_noticia_normal.jpg"
              ></v-img>
            </v-avatar>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="error" @click="dialogoConfirmacion=false;indexDeProducto=-1;cantidadAComprar=''">Cancelar</v-btn>
            <v-btn v-if="cantidadAComprar<=almacen[indexDeProducto].stock && cantidadAComprar!=='' &&cantidadAComprar>0"
              class="primary"
              @click="dialogoConfirmacion=false;agregarProductoAlCarro({index:indexDeProducto,cantidad:cantidadAComprar});indexDeProducto=-1;cantidadAComprar=''"
            >Agregar</v-btn>
          </v-card-actions>
        </v-card>
      </v-row>
    </v-dialog>
  </section>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  data: () => ({
    dialogoConfirmacion: false,
    indexDeProducto: -1,
    rules: [
      (value) => !!value || "Debe indicar la cantidad",
    ],
    cantidadAComprar:''
  }),
  computed: {
    ...mapState(["almacen"]),
  },
  methods: {
    ...mapMutations(["agregarProductoAlCarro"]),
  },
};
</script>

<style>
</style>