<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <div class="my-2">
        <v-btn text color="white" href="#/">Almacen</v-btn>
      </div>
      <div class="my-2">
        <v-btn text color="white" href="#/historial-ventas">Historial-Ventas</v-btn>
      </div>

      <v-spacer></v-spacer>

      <div class="my-2">
        <v-btn text color="white" href="#/venta">Venta</v-btn>
      </div>
      <div class="my-2">
        <v-btn text color="white" href="#/carro-compras">Carro De Compras: {{carroDeCompras.length}}</v-btn>
      </div>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "App",

  components: {},

  data: () => ({
    //
  }),
  computed: {
    ...mapState(["carroDeCompras"]),
  },
};
</script>
